@import 'https://en.wikipedia.org/w/load.php?debug=false&lang=en&modules=mediawiki.legacy.commonPrint,shared|skins.vector.styles&only=styles&skin=vector&*';

.App-header,
.App-btns {
  text-align: center;
  margin-bottom: 25px;
}

.wiki-btn {
  margin: 0 15px;
  border: none;
  background-color: lightgray;
  padding: 7px 15px;
  border-radius: 4px;
  cursor: pointer;
  outline: 0;
}

.wiki-btn.selected {
  background-color: #39869e;
  color: white
}

.wiki-view {
  padding: 25px;
  width: 90%;
  display: block;
  height: 900px;
  margin: 0 auto;
  border: 1px solid #dedede;
}
